<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="user_a"/>

    <dubbo:registry protocol="zookeeper" address="localhost:2181"/>

    <dubbo:protocol name="dubbo" port="20884"/>

    <dubbo:service interface="com.zhou.common.service.UserA2BService"
                   ref="userService-a" executes="20"/>

    <dubbo:reference timeout="20000"
                     interface="com.zhou.common.service.UserB2AService"
                     id="userService-b"
                     retries="0" check="false" loadbalance="hmilyRandom"/>

</beans>